<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='文章管理',active='publish'">
<header th:replace="admin/header::headerFragment(${title}, ${active})"></header>
<link rel="stylesheet" th:href="@{/admin/plugins/tagsinput/jquery.tagsinput.css}"></link>
<link rel="stylesheet" th:href="@{/admin/plugins/select2.dist.css/select2-bootstrap.css}"></link>
<link rel="stylesheet" th:href="@{/admin/plugins/toggles/toggles.css}"></link>
<link rel="stylesheet" th:href="@{//cdn.bootcss.com/multi-select/0.9.12/css/multi-select.css}"></link>
<link rel="stylesheet" th:href="@{//cdn.bootcss.com/select2/3.4.8/select2.min.css}"></link>
<link rel="stylesheet" th:href="@{/admin/plugins/md/css/style.css}"></link>
<body>
</body>
</html>